@page "/evento-listar"
@rendermode InteractiveServer

<h1>Listado de Eventos</h1>
<button type="button" class="btn btn-success">Crear Evento</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Responsable</th>
            <th>Cupo maximo</th>
            <th>Fecha inicio</th>
            <th>Duracion horas</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>u.Id</td>
            <td>u.Nombre</td>
            <td>u.Apellidoaaaaaaaaa</td>
            <td>u.Mail</td>
            <td>u.Password</td>
            <td>u.Perm</td>
            <td>u.Perm</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>