@page "/"
@attribute [Layout(typeof(EmptyLayout))]
@rendermode InteractiveServer
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion
@inject UsuarioLoginUseCase UsuarioLogin
@inject UsuarioBuscarUseCase UsuarioBuscar
@inject ServicioLogin ServicioLogin
@inject NavigationManager Navigation

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="formulario-wrapper formulario-con-borde text-white" style="max-width: 400px;"> <!-- Más angosto -->

        <!-- Header del formulario -->
        <div class="form-header p-3 rounded-top">
            <h3 class="text-center m-0">INICIAR SESION</h3>
        </div>

        <div class="p-4">
            <EditForm Model="@usAux" OnValidSubmit="HandleSubmit" FormName="loginForm">

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <InputText @bind-Value="usAux.Email" class="form-control borde-personalizado text-dark" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <InputText type="password" @bind-Value="usAux.HashPassword" class="form-control borde-personalizado text-dark" />
                </div>

                <div class="form-footer d-flex justify-content-between align-items-center p-2 rounded-bottom">
                    <div>
                        <span class="text-white d-block">¿Ya tenés cuenta?</span>
                        <a href="/registro" class="btn btn-warning btn-sm mt-2 ms-3">Registrarse</a>
                    </div>

                    <button type="submit" class="btn btn-success">Iniciar</button>
                </div>

            </EditForm>
        </div>

    </div>
</div>


<style>
.formulario-wrapper {
    width: 100%;
}

.formulario-con-borde {
    background: linear-gradient(to bottom, #1c2a29, #305861);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow: hidden;
}

.formulario-con-borde .form-label {
    color: white;
}

.borde-personalizado {
    border: 2px solid #1c2a29;
    border-radius: 12px;
}

.form-header {
    background-color: #478689;
}

.bg-footer {
    background-color: #478689;
}

</style>


@code {

    private Usuario usAux = new Usuario();

    async Task HandleSubmit()
    {   
        Console.WriteLine($"Datos recibidos - ema: {usAux.Email}, pas: {usAux.HashPassword}");
        if(UsuarioLogin.Ejecutar(usAux.Email,usAux.HashPassword))
        {
            Usuario usuario = UsuarioBuscar.Ejecutar(usAux.Email);
            if(usuario != null)
            {
                ServicioLogin.SetUser(usuario);
                ServicioLogin.Logueado();

                await Task.Delay(50);

                Navigation.NavigateTo("/persona-listar");

            }
        }

    
    }

}